<div class="hero-unit">
  <div id="tasks">
    <h1>Tasks</h1>
    <%= render("search")%>
    <%= render("list") %>
    <%= link_to "add Task", new_task_path, :remote => true, :class => 'btn' %>
  </div>
</div>
